@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* colors */
    --color-ModerateViolet: hsl(263, 55%, 52%);
    --color-VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --color-VeryDarkBlackishBlue: hsl(219, 29%, 14%);
    --color-White: hsl(0, 0%, 100%);

    --color-LightGray: hsl(0, 0%, 81%);
    --color-LightGrayishBlue: hsl(210, 46%, 95%);

    --radius: 0.5rem;

    --ff: 'Barlow Semi Condensed', sans-serif;
    --fs-normal: 14px;
    --fs-lg: 20px;

    --fw-normal: 500;
    --fw-bold: 600;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
    font-size: var(--fs-normal);
    background: var(--color-LightGrayishBlue);
    font-weight: var(--fw-normal);
}

.card {
    padding: 20px;
    border-radius: var(--radius);
}

.card__header {
    display: flex;
    justify-content: start;
    align-items: center;

}

.card__header img {
    width: 30px;
    border-radius: 50%;
    border:2px solid var(--color-White);
    margin-right: 20px;
}

.card__title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    margin: 20px 0;
}

.violet {
    background: var(--color-ModerateViolet);
    color: var(--color-White);
    grid-column: 1 / span 2;
}

.gray {
    background: var(--color-VeryDarkGrayishBlue);
    color: var(--color-White);
    grid-column: 2 span 1;
}
.white {
    background: var(--color-White);
    grid-column: 1 / span 1;
}

.white2 {
    background: var(--color-White);
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}

.dark-blue {
    background: var(--color-VeryDarkBlackishBlue);
    color: var(--color-White);
    grid-column: 2 / span 2;
}

.verified {
    display: block;
    opacity: 50%;
}

.card__body {
    opacity: 50%;
    line-height: 1.2rem;
    font-weight: var(--fw-normal);
}

.container-card {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1120px;
}

@media (min-width: 375px) and (max-width: 1440px){

    .container-card {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}